body {
  background: #000;
}

.button-box {
  width: 110px;
  height: 50px;
  margin: 50px auto;
  background-color: transparent;
  position: relative;
  border-radius: 30px;
  display: flex;
  align-items: center;
  border: .2rem solid;
  border-color: #ffffff;
  transition: .5s;
}

.toggle-btn {
  padding:25px;
  cursor: pointer;
  background: transparent;
  border: 0;
  outline: none;
  position: relative;
  text-align: center;
}

#btn {
  left: 3px;
  position: absolute;
  width: 45px;
  height: 45px;
  background: #ffffff;
  border-radius: 30px;
  transition: .5s;
}
